/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

/* BODY */
body{
    background-image: url("../assets/banners/Fundo Nebuloso.png");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    background-attachment:fixed;
    color:white;
    min-height:100vh;
}

/* OVERLAY GLOBAL */
body::before{
    content:"";
    position:fixed;
    inset:0;
    background:rgba(0,0,0,0.55);
    z-index:1;
}
