.card{
    position:relative;
    z-index:1;

    background:rgba(21,28,43,0.9);
    border:1px solid rgba(0,255,255,0.2);

    padding:15px;
    border-radius:15px;

    text-align:center;
    overflow:hidden;
}


/* ========================================
   ÁREA DA IMAGEM
======================================== */

.imagem-reflexo{
    position:relative;

    width:100%;

    overflow:hidden;

    border-radius:10px;
}


/* IMAGEM */

.imagem-reflexo img{
    width:100%;
    height:auto;
    max-height:300px;

    object-fit:contain;
    display:block;
    margin:0 auto;

    border-radius:10px;

    transition:
        transform .3s ease,
        filter .3s ease;
}


/* ========================================
   REFLEXO
======================================== */

.imagem-reflexo::after{
    content:"";

    position:absolute;

    top:-20%;
    left:-80%;

    width:35%;
    height:140%;

    background:linear-gradient(
        90deg,
        transparent,
        rgba(255,255,255,.45),
        transparent
    );

    transform:skewX(-20deg);

    pointer-events:none;

    opacity:0;
}


/* Reflexo somente dentro da imagem */

.imagem-reflexo:hover::after{
    left:140%;
    opacity:1;

    transition:
        left .65s ease,
        opacity .1s ease;
}


/* Zoom e brilho somente na imagem */

.imagem-reflexo:hover img{
    transform:scale(1.025);

    filter:drop-shadow(
        0 0 6px rgba(0,255,255,.45)
    );
}


/* TÍTULO */

.card h3{
    color:#00ffff;
}


/* BOTÃO */

.card a{
    position:relative;
    z-index:11;

    display:inline-block;

    margin-top:10px;
    padding:8px 14px;

    border-radius:10px;

    background:#00ffff;
    color:black;

    text-decoration:none;
    font-weight:bold;

    cursor:pointer;
}

```css id="q4lq0r"
@media screen and (min-width: 701px) {

    /* MODS + GALERIA */
    .imagem-reflexo {
        max-width: 650px;
        margin-left: auto;
        margin-right: auto;
    }

    .imagem-reflexo img {
        max-height: 220px !important;
        width: auto !important;
        max-width: 100% !important;
        object-fit: contain !important;
    }

    /* HALL DA FAMA */
    .hall-img {
        max-width: 650px;
        max-height: 400px;
        width: auto;
        height: auto;
        object-fit: contain;
    }

    /* TUTORIAL */
    .hacker-img {
        max-width: 650px;
        max-height: 400px;
        width: auto;
        height: auto;
        object-fit: contain;
    }

    /* DISCORD */
    .discord-banner {
        max-width: 650px;
        max-height: 300px;
        width: auto;
        height: auto;
        object-fit: contain;
    }

}

@media screen and (min-width: 701px) {
    .card {
        background: red !important;
    }
}