```css
.card{
    position:relative;
    z-index:1;

    background:rgba(21,28,43,0.9);
    border:1px solid rgba(0,255,255,0.2);

    padding:15px;
    border-radius:15px;

    text-align:center;
    overflow:hidden;
}


/* IMAGEM */

.card img{
    width:100%;
    height:auto;
    max-height:300px;

    object-fit:contain;
    display:block;
    margin:0 auto;

    border-radius:10px;

    transition:
        transform .3s ease,
        filter .3s ease;
}


/* EFEITO SOMENTE NA IMAGEM */

.card:hover img{
    transform:scale(1.025);

    filter:
        drop-shadow(0 0 6px rgba(0,255,255,.45));
}


/* TÍTULO */

.card h3{
    color:#00ffff;
}


/* LINK / BOTÃO */

.card a{
    position:relative;
    z-index:11;

    display:inline-block;

    margin-top:10px;
    padding:8px 14px;

    border-radius:10px;

    background:#00ffff;
    color:black;

    text-decoration:none;
    font-weight:bold;

    cursor:pointer;
}
```
