/* ========================================
   BOTÃO DE INSTALAÇÃO PWA
======================================== */

#installBtn{
    display:none;

    width:100%;

    padding:9px 12px;

    border:1px solid rgba(0,255,255,.35);

    border-radius:8px;

    background:#00ffff;

    color:#000;

    cursor:pointer;

    font-weight:bold;

    transition:
        transform .2s ease,
        box-shadow .2s ease,
        background .2s ease;
}


/* ========================================
   HOVER
======================================== */

#installBtn:hover{
    transform:scale(1.03);

    background:#00ffff;

    box-shadow:
        0 0 8px rgba(0,255,255,.65),
        0 0 18px rgba(0,255,255,.3);
}


/* ========================================
   CLIQUE
======================================== */

#installBtn:active{
    transform:scale(.98);

    box-shadow:
        0 0 5px rgba(0,255,255,.5);
}
